amur
moor
moord
moordt
moors
moorsd
moorst
libmoorst.so
moorsdt
moort
moorlst
moorscorch

moorq
moorq.bin
moorq0.bin
moorq.hda
moorq0s.bin
moorq_source.bin
moorqs
moorqs.bin
moorqs.hda
moorqs0.bin
bzMoorq
bzImage
vmlinux

test

*.lst
*.o
q.moor
caprecorn.log
*.swp

boot_source.moor
qt.moor
qw.moor

